.homePage{
    height: 100%;
}

header {
    background-color: #6D8BEC;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul {
    list-style: none;
    display: flex;
    align-items: end;
    font-family: montserrat;
    color: white;
}

li {
    margin: 10px;
}

.connect {
    border: solid 1px;
    border-radius: 20px;
    padding: 9px;
}

.logo {
    margin-right: 15%;
}

.container1 {
    display: flex;
    background-color: #6D8BEC;
    font-family: montserrat;
    color: white;
    justify-content: center;
}

.sentence1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3%;
}

.space {
    line-height: 2;
    font-size: 14px;
}

.visio {
    width: 70%;
    margin-left: 15%;
}

.btn {
    display: flex;
    margin-top: 5%;
}

.btn1 {
    background-color: #2CC58C;
    border: none;
    width: 180px;
}

.btn2 {
    background-color: darkblue;
    border: none;
    width: 120px;
    margin-left: 12%;
}

.btn1, .btn2 {
    color: white;
    height: 40px;
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: montserrat;
}

.titleContainer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.firstH2 {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 40px;
}

.secondH2 {
    margin-top: 1%;
    font-size: 40px;
   
}

.container2 p {
    width: 50%;
    text-align: center;
    margin: 20px 0;
}

.rectangle {
    background-color: #6D8BEC;
    width: 40%;
    height: 2px;
    margin: 10px 0;
}

.container3 {
    margin-top: 1%;
    display: flex;
    font-family: montserrat;
    align-items: center;
    justify-content: center;
}

.container3 h2 {
    font-size: 40px;
    margin-left: 11%;
    margin-bottom: 9%;
}

.container3 p {
    width: 60%;
    font-size: 30px;
    margin-left: 11%;
}

.titleContainer3 {
    margin-bottom: 5%;
}

.formation {
    width: 90%;
    margin-left: 11%;
}

.container4 {
    margin-top: 1%;
    display: flex;
    font-family: montserrat;
    align-items: center;
    margin-left: 9%;
    justify-content: center;
}

.container4 h2 {
    width: 65%;
    font-size: 40px;
    margin-bottom: 9%;
}

.container4 p {
    width: 75%;
    font-size: 30px;
}

.mail {
    width: 130%;
}

.mailContainer4 {
    margin-right: 20%;
    margin-top: 2%;
}

.container5 {
    margin-top: 1%;
    display: flex;
    font-family: montserrat;
    align-items: center;
    justify-content: center;
}

.container5 h2 {
    font-size: 40px;
    margin-left: 11%;
    margin-bottom: 4%;
}

.container5 p {
    width: 60%;
    font-size: 30px;
    margin-left: 11%;
}

.titleContainer5 {
    margin-left: 10%;
    margin-bottom: 6%;
}

.fichier {
    width: 130%;
    margin-left: 13%;
}

.container6 {
    margin-top: 2%;
    display: flex;
    font-family: montserrat;
    align-items: center;
    margin-left: 9%;
}

.container6 h2 {
    width: 75%;
    font-size: 40px;
    margin-bottom: 9%;
}

.container6 p {
    width: 75%;
    font-size: 30px;
}

.titleContainer6 {
    margin-bottom: 5%;
}

.calendrier {
    width: 70%;
    margin-left: 10%;
}

.banktitle {
    margin-top: 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: montserrat;
}

.rectangle2 {
    background-color: #6D8BEC;
    width: 14%;
    height: 2px;
    margin: 15px 0;
}

.list1 {
    display: flex;
    justify-content: space-around;
}

.list2 {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

.list2 img {
    padding: 2%;
}

.icon {
    width: 10%;
}

.icon2 {
    width: 10%;
}

.cadena {
    width: 5%;
    margin-bottom: 3%;
}

.container8 {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: montserrat;
    margin-bottom: 5%;
}

.data {
    margin-bottom: 3%;
    font-size: 30px;
}

.confid {
    font-size: 25px;
}

.protect {
    margin-top: 4%;
    font-size: 15px;
    width: 25%;
    text-align: center;
}

.container9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(128, 154, 240);
    font-family: montserrat;
    color: white;
    padding-top: 25px;
}

.container9 p{
    margin-top: 20px;
}

.start {
    border: none;
    color: white;
    background-color: #6D8BEC;
    width: 15%;
    height: 40px;
    margin-top: 2%;
    margin-bottom: 3%;
}

.footer {
    display: flex;
    justify-content: space-between;
    font-family: montserrat;
    background-color: #6D8BEC;
    font-size: 70%;
}

.ul1 {
    display: flex;
    flex-direction: column;
    width: 15%;
}

.ul2 {
    display: flex;
    flex-direction: column;
    width: 15%;
}

.ul3 {
    display: flex;
    flex-direction: column;
    width: 15%;
}

.ul4 {
    display: flex;
    flex-direction: column;
    width: 15%;
}

.eye {
    width: 5%;
    height: 1%;
    margin-top: 2.5%;
}

footer {
    display: flex;
    background-color:#6685eb;
    justify-content: center;
    font-family: montserrat;
    font-size: 70%;
}