.Visio-Page{
    height: 97%;
    border-radius: 20px;
    width: 87%;

    .head{
        font-family: sans-serif;
        background-color: #6D8BEC;
        height: 7%;
        display: flex;
        align-items: center;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin: 0;

        img{
            margin-left: 15px;
        }
    }

    >.visioContent{
        height: 93%;
        background-color: #F5F5F5;
        width: 100%;
        display: flex;
        flex-direction: column;

        >div:nth-of-type(1){
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            min-height: 85px;
            height: 85px;
            background-color: #F5F5F5;
            

            div{
                display: flex;
                align-items: center;
                justify-content: space-around;
                min-width: 250px;
                margin-right: 60px;
                height: 40%;
                border-radius: 20px;
                border: solid 1px #6D8BEC;
                color:#6D8BEC;
            }
        }
        >div:nth-of-type(2){
            width: 95%;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;

            >div:nth-of-type(1){
                width: 67.5%;
                padding-bottom: 40.25%;
                position: relative;
                background: black;
                height: 30%;
                border-radius: 10px;

                >div:nth-of-type(1){
                  
                    display: flex;
                    height: 15%;
                    width: 100%;
                    align-items: center;
                    justify-content: flex-end;
                    position: absolute;
                    top: 0; bottom: 0; left: 0; right: 0;
                    >img{
                        margin: 20px;
                    }
                }

                >div:nth-of-type(2){
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    font-size: 120px;
                    height: 50%;
                    position: absolute;
                    top: 25%; bottom: 0; left: 0; right: 0;
                }

                >div:nth-of-type(3){
                    width: 100%;
                    position: absolute;
                    top: 75%; bottom: 0; left: 0; right: 0;
                    display: flex;

                    ul{
                        width: 95%;
                        margin: 0 auto;
                        display: flex;
                        align-items: center;
                        justify-content:space-between;

                        div:nth-of-type(1){
                            height: 80px;
                            width: 90px;
                            background-color: #FFFFFF;
                            border-radius: 5px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            align-self: flex-end;
                            margin-bottom: 20px;
                            font-size: 40px;

                        }

                        div:nth-of-type(2){
                            height: 30%;
                            display: flex;
                            align-items: flex-end;;
                            justify-content: center;
                            align-self: flex-end;
                            margin-bottom: 20px;

                            img{
                                margin: 0 10px;
                            }
                        }

                        div:nth-of-type(3){
                            height: 100%;
                            display: flex;
                            align-items: flex-end;
                            justify-content: center;
                            align-self: flex-end;
                            margin-bottom: 20px;
                        }
                    }
                }
            }
            
            >div:nth-of-type(2){
               width: 27.5%;
               min-height: 500px;

               >div:nth-of-type(1){
                    height: 92.5%;
                    background-color: white;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;

                    >div{
                        
                        >div:nth-of-type(1){
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin: 0 auto;
                            width: 90%;

                            >div:nth-of-type(1){
                                width: 20%;
                                height: 90%;
                                min-height: 100px;
                                align-self: flex-start;
                                margin: 0 auto;
                                margin-top: 60Px;
                                
                                >div{
                                    width: 40px;
                                    height: 40px;
                                    border-radius: 50px;
                                    background-color: #6D8BEC;
                                    transform: translate(10px, -45px);
                                    p{
                                        transform: translate(50px, 0px);
                                    }
                                    
                                }
                            }
                            >div:nth-of-type(2){
                                width: 60%;
                                height: 90%;
                                background-color: #6D8BEC;
                                border-radius: 10px;
                                padding: 10px 10px;
                                color: white;
                                
                            }

                            >div:nth-of-type(3){
                                width: 20%;
                                height: 90%;
                                text-align: center;
                            }
                        }            
                        >div:nth-of-type(2){
                            width: 90%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin: 0 auto;
                            
                            >div:nth-of-type(1){
                                width: 20%;
                                text-align: right;
                            }

                            >div:nth-of-type(2){
                                width: 80%;
                                text-align: right;
                                padding: 10px;
                                background-color: #3E3E3E;
                                border-radius: 10px;
                                color: white;
                                margin-left: 20px;
                            }
                        }
                    }
               }

               >div:nth-of-type(2){
                    height: 12.5%;
                    background-color: #6D8BEC;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    border-bottom-left-radius: 20px;
                    border-bottom-right-radius: 20px;
                   >div{
                       display: flex;
                       align-items: center;
                       justify-content: center;
                       background-color: #6D8BEC;

                       input{
                           background-color: #6D8BEC;
                           border: none;
                           text-indent: 20px;
                           color: white;
                       }

                       ::placeholder{
                           color: white;
                       }
                   }
               }
            }
        }
    }
}