.head {
    font-family: sans-serif;
    color: white;
    height: 7%;
    display: flex;
    align-items: center;
    margin-left: 15px;

    & > img {
        width: 50px;
        height: 30px;
        margin-right: 20px;
    }

    & > span {
        display: flex;
        align-items: center;
        height: 100% ;
        padding: 0 2%;
        cursor: pointer;
        font-weight: 600;
    }

    & > span:hover {
        height: 100%;
        background-color: white;
        opacity: 85%;
        color: #6D8BEC;
    }
}

